---
import { SEO } from '@wix/seo/components';
import { loadSEOTagsServiceConfig } from '@wix/seo/services';
import { Head } from "@/components/Head";
import AppRouter from "@/components/Router";
import "@wix/wix-vibe-plugins/plugins-vars.css";
import "@wix/wix-vibe-plugins/plugins-theme.css";
import "@/styles/global.css";
import "@/styles/omgyro-global.css";
import "@/styles/omgyro-header.css";
import "@/styles/omgyro-menu.css";
import "@/styles/omgyro-rewards.css";
import "@/styles/omgyro-gift-card.css";

const seoTagsServiceConfig = await loadSEOTagsServiceConfig({
  pageUrl: Astro.url.href,
  itemData: {
    pageName: 'Home',
  },
});
---

<html lang="en" class="w-full">
  <head>
    <Head />
    <SEO.Tags seoTagsServiceConfig={seoTagsServiceConfig} slot="seo-tags" />
  </head>
  <body class="w-full">
    <div id="root" class="w-full">
      <AppRouter client:only="react" />
    </div>
  </body>
</html>
